<div class="flex-wrap col-100">
  <div class="col-60"></div>
  <div class="col-40 padding-top-100">
    <mat-card class="full-card">
      <div  class="center">
      <h1 class="text-color">Anamorphic Desqueeze</h1>
      <h4 class="text-color">Convert your Anamorphic Images from 16:9 to 2.35:1 format</h4>
      <h5 class="text-color">load image from your Laptop or mobile and click on download</h5>
    </div>
      <div class="padding-bottom-30 center">
        <input class="text-color" type="file" (change)="onImageChange($event)" accept="image/*">
      </div>

      <mat-card *ngIf="showDownload" class="down-card">
        <div class="center">
         <a class="text-color" [href]="fileUrl"  download="{{fileName}}" class="">Download Image</a>
        </div>
      </mat-card>

    </mat-card>
  </div>
  <div class="col-60"></div>
</div>